body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1494px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u355 {
  position:absolute;
  left:30px;
  top:10px;
  width:60px;
  height:60px;
}
#u356 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u357 {
  position:absolute;
  left:110px;
  top:18px;
  width:321px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u358 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u359 {
  position:absolute;
  left:1069px;
  top:31px;
  width:20px;
  height:20px;
}
#u360 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u361 {
  position:absolute;
  left:1095px;
  top:32px;
  width:47px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u363 {
  position:absolute;
  left:1164px;
  top:30px;
  width:20px;
  height:20px;
}
#u364 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u365 {
  position:absolute;
  left:1189px;
  top:31px;
  width:73px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u366 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u367 {
  position:absolute;
  left:1280px;
  top:25px;
  width:169px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u369 {
  position:absolute;
  left:1424px;
  top:5px;
  width:70px;
  height:70px;
}
#u370 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(54, 198, 211, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u371 {
  position:absolute;
  left:1232px;
  top:32px;
  width:20px;
  height:17px;
  color:#FFFFFF;
}
#u372 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(237, 107, 117, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u373 {
  position:absolute;
  left:1125px;
  top:32px;
  width:20px;
  height:17px;
  color:#FFFFFF;
}
#u374 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u375 {
  position:absolute;
  left:98px;
  top:246px;
  width:975px;
  height:529px;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u376 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u377 {
  position:absolute;
  left:2px;
  top:8px;
  width:319px;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u378 {
  position:absolute;
  left:323px;
  top:0px;
  width:323px;
  height:30px;
}
#u379 {
  position:absolute;
  left:2px;
  top:8px;
  width:319px;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:30px;
}
#u380 {
  position:absolute;
  left:646px;
  top:0px;
  width:324px;
  height:30px;
}
#u381 {
  position:absolute;
  left:2px;
  top:8px;
  width:320px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u382 {
  position:absolute;
  left:0px;
  top:30px;
  width:323px;
  height:30px;
}
#u383 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:30px;
}
#u384 {
  position:absolute;
  left:323px;
  top:30px;
  width:323px;
  height:30px;
}
#u385 {
  position:absolute;
  left:2px;
  top:7px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:30px;
}
#u386 {
  position:absolute;
  left:646px;
  top:30px;
  width:324px;
  height:30px;
}
#u387 {
  position:absolute;
  left:2px;
  top:7px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:464px;
}
#u388 {
  position:absolute;
  left:0px;
  top:60px;
  width:323px;
  height:464px;
}
#u389 {
  position:absolute;
  left:2px;
  top:224px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:464px;
}
#u390 {
  position:absolute;
  left:323px;
  top:60px;
  width:323px;
  height:464px;
}
#u391 {
  position:absolute;
  left:2px;
  top:224px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:464px;
}
#u392 {
  position:absolute;
  left:646px;
  top:60px;
  width:324px;
  height:464px;
}
#u393 {
  position:absolute;
  left:2px;
  top:224px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394 {
  position:absolute;
  left:98px;
  top:158px;
  width:140px;
  height:25px;
}
#u394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
