body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:426px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:0px;
  top:118px;
  width:1488px;
  height:426px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:205px;
  width:1484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:86px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1652 {
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:86px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:35px;
  width:1484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:298px;
}
#u1654 {
  position:absolute;
  left:1221px;
  top:171px;
  width:267px;
  height:298px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:141px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:30px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1656 {
  position:absolute;
  left:0px;
  top:86px;
  width:1488px;
  height:30px;
}
#u1657 {
  position:absolute;
  left:2px;
  top:7px;
  width:1484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1658 {
  position:absolute;
  left:136px;
  top:86px;
  width:154px;
  height:30px;
}
#u1659 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:86px;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:86px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:35px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:86px;
}
#u1663 {
  position:absolute;
  left:605px;
  top:0px;
  width:883px;
  height:86px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:35px;
  width:879px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:64px;
}
#u1665 {
  position:absolute;
  left:136px;
  top:11px;
  width:91px;
  height:64px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:24px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#588DBB;
}
#u1667 {
  position:absolute;
  left:261px;
  top:21px;
  width:482px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#588DBB;
}
#u1668 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:170px;
}
#u1669 {
  position:absolute;
  left:25px;
  top:203px;
  width:264px;
  height:170px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:77px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:242px;
  background:inherit;
  background-color:rgba(233, 236, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1672 {
  position:absolute;
  left:433px;
  top:181px;
  width:480px;
  height:242px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:113px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:2px;
}
#u1674 {
  position:absolute;
  left:433px;
  top:216px;
  width:480px;
  height:1px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1677 {
  position:absolute;
  left:572px;
  top:243px;
  width:276px;
  height:26px;
}
#u1677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  position:absolute;
  left:530px;
  top:243px;
  width:42px;
  height:25px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
}
#u1680 {
  position:absolute;
  left:532px;
  top:243px;
  width:38px;
  height:24px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1683 {
  position:absolute;
  left:572px;
  top:289px;
  width:276px;
  height:26px;
}
#u1683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  position:absolute;
  left:530px;
  top:289px;
  width:42px;
  height:25px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1686 {
  position:absolute;
  left:532px;
  top:291px;
  width:38px;
  height:23px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:28px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1688 {
  position:absolute;
  left:532px;
  top:357px;
  width:316px;
  height:28px;
  font-size:20px;
  color:#FFFFFF;
}
#u1688_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1688.mouseOver {
}
#u1689 {
  position:absolute;
  left:2px;
  top:2px;
  width:312px;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:532px;
  top:395px;
  width:93px;
  height:16px;
}
#u1691 {
  position:absolute;
  left:16px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1690_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1692 {
  position:absolute;
  left:785px;
  top:390px;
  width:63px;
  height:29px;
  color:#000000;
}
#u1692_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1692.mouseOver {
}
#u1693 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u1694 {
  position:absolute;
  left:799px;
  top:187px;
  width:101px;
  height:23px;
}
#u1694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1694_input:disabled {
  color:grayText;
}
#u1695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1695 {
  position:absolute;
  left:532px;
  top:329px;
  width:123px;
  height:26px;
  color:#FF0000;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe Script Bold', 'Segoe Script Normal', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#0D5D6C;
}
#u1697 {
  position:absolute;
  left:453px;
  top:181px;
  width:109px;
  height:79px;
  font-family:'Segoe Script Bold', 'Segoe Script Normal', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#0D5D6C;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1488px;
  height:225px;
}
#u1699 {
  position:absolute;
  left:0px;
  top:541px;
  width:1488px;
  height:225px;
}
#u1700 {
  position:absolute;
  left:2px;
  top:104px;
  width:1484px;
  visibility:hidden;
  word-wrap:break-word;
}
