body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:480px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  position:absolute;
  left:0px;
  top:132px;
  width:1491px;
  height:480px;
}
#u1841 {
  position:absolute;
  left:2px;
  top:232px;
  width:1487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:96px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:96px;
}
#u1843 {
  position:absolute;
  left:2px;
  top:40px;
  width:1487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:337px;
}
#u1844 {
  position:absolute;
  left:1223px;
  top:192px;
  width:268px;
  height:337px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:160px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:34px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:0px;
  top:96px;
  width:1491px;
  height:34px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:9px;
  width:1487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u1848 {
  position:absolute;
  left:136px;
  top:96px;
  width:154px;
  height:34px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:9px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:96px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:96px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:40px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:885px;
  height:96px;
}
#u1853 {
  position:absolute;
  left:606px;
  top:0px;
  width:885px;
  height:96px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:40px;
  width:881px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:72px;
}
#u1855 {
  position:absolute;
  left:136px;
  top:12px;
  width:91px;
  height:72px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:28px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#588DBB;
}
#u1857 {
  position:absolute;
  left:262px;
  top:24px;
  width:483px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#588DBB;
}
#u1858 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:191px;
}
#u1859 {
  position:absolute;
  left:25px;
  top:228px;
  width:265px;
  height:191px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:88px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:284px;
  background:inherit;
  background-color:rgba(233, 236, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:8px 8px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1862 {
  position:absolute;
  left:434px;
  top:203px;
  width:481px;
  height:284px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:134px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:2px;
}
#u1864 {
  position:absolute;
  left:434px;
  top:245px;
  width:481px;
  height:1px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1867 {
  position:absolute;
  left:573px;
  top:277px;
  width:277px;
  height:31px;
}
#u1867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:531px;
  top:277px;
  width:42px;
  height:30px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u1870 {
  position:absolute;
  left:533px;
  top:277px;
  width:38px;
  height:29px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1873 {
  position:absolute;
  left:573px;
  top:330px;
  width:277px;
  height:31px;
}
#u1873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:531px;
  top:330px;
  width:42px;
  height:30px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:27px;
}
#u1876 {
  position:absolute;
  left:533px;
  top:332px;
  width:38px;
  height:27px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:33px;
  background:inherit;
  background-color:rgba(15, 106, 123, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1878 {
  position:absolute;
  left:533px;
  top:411px;
  width:317px;
  height:33px;
  font-size:20px;
  color:#FFFFFF;
}
#u1878_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1878.mouseOver {
}
#u1879 {
  position:absolute;
  left:2px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u1880 {
  position:absolute;
  left:533px;
  top:455px;
  width:93px;
  height:16px;
}
#u1881 {
  position:absolute;
  left:16px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1882 {
  position:absolute;
  left:787px;
  top:450px;
  width:63px;
  height:34px;
  color:#000000;
}
#u1882_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1882.mouseOver {
}
#u1883 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1884 {
  position:absolute;
  left:533px;
  top:372px;
  width:168px;
  height:22px;
  color:#FF0000;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe Script Bold', 'Segoe Script Normal', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#0D5D6C;
}
#u1886 {
  position:absolute;
  left:454px;
  top:203px;
  width:109px;
  height:93px;
  font-family:'Segoe Script Bold', 'Segoe Script Normal', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#0D5D6C;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1491px;
  height:253px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:609px;
  width:1491px;
  height:253px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:118px;
  width:1487px;
  visibility:hidden;
  word-wrap:break-word;
}
