body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1551px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:167px;
  top:200px;
  width:237px;
  height:678px;
}
#u675 {
  position:absolute;
  left:2px;
  top:2px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u676 {
  position:absolute;
  left:202px;
  top:226px;
  width:166px;
  height:60px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u677 {
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:2px;
}
#u678 {
  position:absolute;
  left:210px;
  top:285px;
  width:158px;
  height:1px;
}
#u679 {
  position:absolute;
  left:2px;
  top:-8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u680 {
  position:absolute;
  left:230px;
  top:333px;
  width:107px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u682 {
  position:absolute;
  left:230px;
  top:403px;
  width:107px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u684 {
  position:absolute;
  left:230px;
  top:479px;
  width:107px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u686 {
  position:absolute;
  left:87px;
  top:76px;
  width:60px;
  height:60px;
}
#u687 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u688 {
  position:absolute;
  left:167px;
  top:84px;
  width:321px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u690 {
  position:absolute;
  left:1126px;
  top:97px;
  width:20px;
  height:20px;
}
#u691 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u692 {
  position:absolute;
  left:1152px;
  top:98px;
  width:47px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u694 {
  position:absolute;
  left:1221px;
  top:96px;
  width:20px;
  height:20px;
}
#u695 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u696 {
  position:absolute;
  left:1246px;
  top:97px;
  width:73px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u698 {
  position:absolute;
  left:1337px;
  top:91px;
  width:169px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u700 {
  position:absolute;
  left:1481px;
  top:71px;
  width:70px;
  height:70px;
}
#u701 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(54, 198, 211, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:1289px;
  top:97px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u703 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(237, 107, 117, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u704 {
  position:absolute;
  left:1182px;
  top:98px;
  width:20px;
  height:17px;
  color:#FFFFFF;
}
#u705 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1312px;
  height:10px;
}
#u706 {
  position:absolute;
  left:167px;
  top:165px;
  width:1307px;
  height:5px;
}
#u707 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:678px;
  background:inherit;
  background-color:rgba(233, 236, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:432px;
  top:200px;
  width:1119px;
  height:678px;
}
#u709 {
  position:absolute;
  left:2px;
  top:331px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1119px;
  height:629px;
}
#u710 {
  position:absolute;
  left:432px;
  top:226px;
  width:1119px;
  height:629px;
}
#u711 {
  position:absolute;
  left:2px;
  top:306px;
  width:1115px;
  visibility:hidden;
  word-wrap:break-word;
}
