body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1464px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:678px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:80px;
  top:129px;
  width:237px;
  height:678px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u2 {
  position:absolute;
  left:115px;
  top:155px;
  width:166px;
  height:60px;
  font-family:'华文行楷';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:2px;
}
#u4 {
  position:absolute;
  left:123px;
  top:214px;
  width:158px;
  height:1px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u6 {
  position:absolute;
  left:143px;
  top:266px;
  width:110px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u8 {
  position:absolute;
  left:143px;
  top:336px;
  width:110px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u10 {
  position:absolute;
  left:143px;
  top:412px;
  width:107px;
  height:30px;
  opacity:0.8;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u12 {
  position:absolute;
  left:0px;
  top:5px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u14 {
  position:absolute;
  left:80px;
  top:13px;
  width:321px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#588DBB;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:1039px;
  top:26px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u18 {
  position:absolute;
  left:1065px;
  top:27px;
  width:47px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:1134px;
  top:25px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u22 {
  position:absolute;
  left:1159px;
  top:26px;
  width:73px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868686;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u24 {
  position:absolute;
  left:1250px;
  top:20px;
  width:169px;
  height:29px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#588DBB;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u26 {
  position:absolute;
  left:1394px;
  top:0px;
  width:70px;
  height:70px;
}
#u27 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(54, 198, 211, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:1202px;
  top:27px;
  width:20px;
  height:17px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
  background:inherit;
  background-color:rgba(237, 107, 117, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:1095px;
  top:27px;
  width:20px;
  height:17px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1327px;
  height:10px;
}
#u32 {
  position:absolute;
  left:80px;
  top:94px;
  width:1322px;
  height:5px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:244px;
  background:inherit;
  background-color:rgba(233, 236, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:362px;
  top:143px;
  width:972px;
  height:244px;
}
#u35 {
  position:absolute;
  left:2px;
  top:114px;
  width:968px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:362px;
  top:155px;
  width:1045px;
  height:657px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:55px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:57px;
}
#u39 {
  position:absolute;
  left:59px;
  top:0px;
  width:113px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:109px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:57px;
}
#u41 {
  position:absolute;
  left:172px;
  top:0px;
  width:118px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:114px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:57px;
}
#u43 {
  position:absolute;
  left:290px;
  top:0px;
  width:85px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.selected {
}
#u43.selected {
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:81px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:57px;
}
#u45 {
  position:absolute;
  left:375px;
  top:0px;
  width:113px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:109px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u47 {
  position:absolute;
  left:488px;
  top:0px;
  width:164px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:160px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:57px;
}
#u49 {
  position:absolute;
  left:652px;
  top:0px;
  width:127px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:57px;
}
#u51 {
  position:absolute;
  left:779px;
  top:0px;
  width:87px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:57px;
}
#u53 {
  position:absolute;
  left:866px;
  top:0px;
  width:174px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:54px;
}
#u55 {
  position:absolute;
  left:0px;
  top:57px;
  width:59px;
  height:54px;
  font-size:14px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:54px;
}
#u57 {
  position:absolute;
  left:59px;
  top:57px;
  width:113px;
  height:54px;
  font-size:18px;
}
#u58 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:54px;
}
#u59 {
  position:absolute;
  left:172px;
  top:57px;
  width:118px;
  height:54px;
  font-size:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:54px;
}
#u61 {
  position:absolute;
  left:290px;
  top:57px;
  width:85px;
  height:54px;
  font-size:18px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:54px;
}
#u63 {
  position:absolute;
  left:375px;
  top:57px;
  width:113px;
  height:54px;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:54px;
}
#u65 {
  position:absolute;
  left:488px;
  top:57px;
  width:164px;
  height:54px;
  font-size:18px;
  color:#000000;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:54px;
}
#u67 {
  position:absolute;
  left:652px;
  top:57px;
  width:127px;
  height:54px;
  font-size:18px;
  color:#000000;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:54px;
}
#u69 {
  position:absolute;
  left:779px;
  top:57px;
  width:87px;
  height:54px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#AEAEAE;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:54px;
}
#u71 {
  position:absolute;
  left:866px;
  top:57px;
  width:174px;
  height:54px;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u72 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u73 {
  position:absolute;
  left:0px;
  top:111px;
  width:59px;
  height:55px;
  font-size:14px;
}
#u74 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u75 {
  position:absolute;
  left:59px;
  top:111px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u77 {
  position:absolute;
  left:172px;
  top:111px;
  width:118px;
  height:55px;
  font-size:18px;
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u79 {
  position:absolute;
  left:290px;
  top:111px;
  width:85px;
  height:55px;
  font-size:18px;
}
#u80 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u81 {
  position:absolute;
  left:375px;
  top:111px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:55px;
}
#u83 {
  position:absolute;
  left:488px;
  top:111px;
  width:164px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u84 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
}
#u85 {
  position:absolute;
  left:652px;
  top:111px;
  width:127px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u86 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:55px;
}
#u87 {
  position:absolute;
  left:779px;
  top:111px;
  width:87px;
  height:55px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#AEAEAE;
}
#u88 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
}
#u89 {
  position:absolute;
  left:866px;
  top:111px;
  width:174px;
  height:55px;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u91 {
  position:absolute;
  left:0px;
  top:166px;
  width:59px;
  height:55px;
  font-size:14px;
}
#u92 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u93 {
  position:absolute;
  left:59px;
  top:166px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u94 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u95 {
  position:absolute;
  left:172px;
  top:166px;
  width:118px;
  height:55px;
  font-size:18px;
}
#u96 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u97 {
  position:absolute;
  left:290px;
  top:166px;
  width:85px;
  height:55px;
  font-size:18px;
}
#u98 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u99 {
  position:absolute;
  left:375px;
  top:166px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u100 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:55px;
}
#u101 {
  position:absolute;
  left:488px;
  top:166px;
  width:164px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u102 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
}
#u103 {
  position:absolute;
  left:652px;
  top:166px;
  width:127px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u104 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:55px;
}
#u105 {
  position:absolute;
  left:779px;
  top:166px;
  width:87px;
  height:55px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#009900;
}
#u106 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
}
#u107 {
  position:absolute;
  left:866px;
  top:166px;
  width:174px;
  height:55px;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u108 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u109 {
  position:absolute;
  left:0px;
  top:221px;
  width:59px;
  height:55px;
  font-size:14px;
}
#u110 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u111 {
  position:absolute;
  left:59px;
  top:221px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u113 {
  position:absolute;
  left:172px;
  top:221px;
  width:118px;
  height:55px;
  font-size:18px;
}
#u114 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u115 {
  position:absolute;
  left:290px;
  top:221px;
  width:85px;
  height:55px;
  font-size:18px;
}
#u116 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u117 {
  position:absolute;
  left:375px;
  top:221px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u118 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:55px;
}
#u119 {
  position:absolute;
  left:488px;
  top:221px;
  width:164px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u120 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
}
#u121 {
  position:absolute;
  left:652px;
  top:221px;
  width:127px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:55px;
}
#u123 {
  position:absolute;
  left:779px;
  top:221px;
  width:87px;
  height:55px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#993300;
}
#u124 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
}
#u125 {
  position:absolute;
  left:866px;
  top:221px;
  width:174px;
  height:55px;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u126 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:55px;
}
#u127 {
  position:absolute;
  left:0px;
  top:276px;
  width:59px;
  height:55px;
  font-size:14px;
}
#u128 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u129 {
  position:absolute;
  left:59px;
  top:276px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u130 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u131 {
  position:absolute;
  left:172px;
  top:276px;
  width:118px;
  height:55px;
  font-size:18px;
}
#u132 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u133 {
  position:absolute;
  left:290px;
  top:276px;
  width:85px;
  height:55px;
  font-size:18px;
}
#u134 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u135 {
  position:absolute;
  left:375px;
  top:276px;
  width:113px;
  height:55px;
  font-size:18px;
}
#u136 {
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:55px;
}
#u137 {
  position:absolute;
  left:488px;
  top:276px;
  width:164px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u138 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:55px;
}
#u139 {
  position:absolute;
  left:652px;
  top:276px;
  width:127px;
  height:55px;
  font-size:18px;
  color:#000000;
}
#u140 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:55px;
}
#u141 {
  position:absolute;
  left:779px;
  top:276px;
  width:87px;
  height:55px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#993300;
}
#u142 {
  position:absolute;
  left:2px;
  top:18px;
  width:83px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:55px;
}
#u143 {
  position:absolute;
  left:866px;
  top:276px;
  width:174px;
  height:55px;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u144 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:321px;
}
#u145 {
  position:absolute;
  left:0px;
  top:331px;
  width:59px;
  height:321px;
}
#u146 {
  position:absolute;
  left:2px;
  top:152px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:321px;
}
#u147 {
  position:absolute;
  left:59px;
  top:331px;
  width:113px;
  height:321px;
  font-size:18px;
}
#u148 {
  position:absolute;
  left:2px;
  top:152px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:321px;
}
#u149 {
  position:absolute;
  left:172px;
  top:331px;
  width:118px;
  height:321px;
  font-size:18px;
}
#u150 {
  position:absolute;
  left:2px;
  top:152px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:321px;
}
#u151 {
  position:absolute;
  left:290px;
  top:331px;
  width:85px;
  height:321px;
  font-size:18px;
}
#u152 {
  position:absolute;
  left:2px;
  top:152px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:321px;
}
#u153 {
  position:absolute;
  left:375px;
  top:331px;
  width:113px;
  height:321px;
  font-size:18px;
}
#u154 {
  position:absolute;
  left:2px;
  top:152px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:321px;
}
#u155 {
  position:absolute;
  left:488px;
  top:331px;
  width:164px;
  height:321px;
  font-size:18px;
}
#u156 {
  position:absolute;
  left:2px;
  top:152px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:321px;
}
#u157 {
  position:absolute;
  left:652px;
  top:331px;
  width:127px;
  height:321px;
  font-size:20px;
  color:#0033FF;
}
#u158 {
  position:absolute;
  left:2px;
  top:152px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:321px;
}
#u159 {
  position:absolute;
  left:779px;
  top:331px;
  width:87px;
  height:321px;
}
#u160 {
  position:absolute;
  left:2px;
  top:152px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:321px;
}
#u161 {
  position:absolute;
  left:866px;
  top:331px;
  width:174px;
  height:321px;
}
#u162 {
  position:absolute;
  left:2px;
  top:152px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
